html {
  width: 1900px;
  /* margin: 0;
  display: flex; */
}

body {
  /* margin: 0; */
  width: 100%;
  font-family: "Rubik", sans-serif;
  display: flex; flex-wrap: wrap;
/* 
  padding-top: 20px; */
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px 100px;
  width: 100%;
  padding-bottom: ;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 2px;
}

.toptab {
  padding: 10px 20px;
}

.redbtn {
  color: white;
  background-color: hsl(0, 94%, 66%);
  padding: 15px 25px;
  border-radius: 5px;
}

h2 {
  margin: 80px 0 0;
  display: block;
  font-size: 50px;
  color: hsl(229, 31%, 21%);
}

p {
  display: block;
  color: hsl(229, 8%, 60%);
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 25px;
}
.intro {
  display: inline-block;
  width: 100%;
  padding-left: 200px;
  margin-bottom: 200px;
}

.image {
  float: right;
}

.first-img-container {
  margin-left: -200px;
  position: absolute;
  z-index: 3;
}

img.first-img {
  width: 700px;
  height: auto;
}

.oval-container {
  margin-top: 150px;
  z-index: -1;
  position: relative;
}

img.right-oval {
  width: 600px;

  margin-bottom: -100px;
  z-index: -1;
}

.intro-content {
  width: 30%;
}

.intro-content p {
  line-height: 2;
  padding-bottom: 10px;
}
button {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  font-family: "Rubik", sans-serif;
}

button.gray {
  background-color: #f7f7f4;
  color: #474755;
  margin-left: 10px;
  border-bottom: 1px solid #f7f7f4;
  box-shadow: 1px 4px 3px 0px rgba(214, 217, 224, 0.952);
}

/* <!--------- 2nd part--------->  */

.features {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 400px;
}

.features h3 {
  width: 1000px;
  margin: 0;
}

.features p {
  width: 550px;
}


.feature-tab {
width: 100%;
display: flex;
justify-content: center;
  
  margin: 20px 0;
  
}

.tab-container {
  display: flex;
  justify-content: space-around;
  color: hsl(229, 8%, 60%);
  width: 800px;
  border-bottom: 2px solid rgba(214, 217, 224, 0.952);
}

nav {
  padding: 20px;
  display: flex;
  justify-content: center;
}
nav.active {
  align-items: center;
  padding: 0px 20px;
  color: #474755;
  border-bottom: 4px solid hsl(0, 94%, 66%);
  display: flex;
}

.tab-body {
  display: flex;
  justify-content: center;
  margin: 30px 0 250px 0;
  width: 1900px;
}

.tab-body img {
  margin-right: 120px;
}

.tab-image {
  float: left;
  margin-right: 200px;
}

img.tab-one {
  
  position: absolute;
  z-index: 3;

  margin-left: 200px;
}

img.tab-one{
  width: 700px;
  height: auto;
}

img.left-oval {
  margin-top: 150px;
  z-index: -1;
  position: relative;
}

.left-oval {
  width: 800px;
  height: 418px;
  margin-bottom: -100px;
}


.tab-content {
  display: inline-block;
  padding: 80px 0;
 margin-right: 320px;
 line-height: 2;
 
}
.tab-content p {
line-height: 2;
}

/* <!--------- 3rd part ---------> */
.download {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 400px;
}

.download h3 {
  width: 1000px;
  margin: 0;
}

.download p {
  width: 550px;
}

.browser {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px 0 100px;
}

.chrome {
  margin-right: 30px;
  height: 317px;
  text-align: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 7px 8px 2px rgba(214, 217, 224, 0.952);
}

.chrome img {
  width: 80px;
  padding-top: 20px;
}

.chrome h4 {
  font-size: 18px;
  padding: 20px 0 10px;
  margin: 0;
}

.chrome p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to right,
    rgb(173, 173, 173) 10%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 20px 4px;
  background-repeat: repeat-x;
}

.chrome button {
  padding: 10px 30px;
  font-family: font-family: "Rubik", sans-serif;
}

.firefox {
  height: 317px;
  margin-right: 30px;
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 7px 8px 2px rgba(214, 217, 224, 0.952);
}

.firefox img {
  width: 80px;
  padding-top: 20px;
}

.firefox h4 {
  font-size: 18px;
  padding: 20px 0 10px;
  margin: 0;
}

.firefox p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to right,
    rgb(173, 173, 173) 10%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 20px 4px;
  background-repeat: repeat-x;
}

.firefox button {
  padding: 10px 30px;
  font-family: font-family: "Rubik", sans-serif;
}

.opera {
  margin-top: 100px;
  height: 317px;
  text-align: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0px 7px 8px 2px rgba(214, 217, 224, 0.952);
}

.opera img {
  width: 80px;
  padding-top: 20px;
}

.opera h4 {
  font-size: 18px;
  padding: 20px 0 10px;
  margin: 0;
}

.opera p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to right,
    rgb(173, 173, 173) 10%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 20px 4px;
  background-repeat: repeat-x;
}


.opera button {
  padding: 10px 30px;
  font-family: font-family: "Rubik", sans-serif;
}

/* <!--------- 4th part ---------> */
.questions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}


.header-questions {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 400px;
}

.header-questions h3 {
  width: 1000px;
  margin: 0;
}

.header-questions p {
  width: 550px;
}

#accordionList {
  width: 1440px;
  padding: 0 450px;
  margin: 40px 200px 40px;
  
}


.accordion-item h2 {
  margin: 0;
}



/*----------------contact--------------------------*/
.contact {
  background-color: hsl(231, 69%, 60%);
  color: white;
  width: 100%;
  padding: 60px 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.contact p {
  color: white;
  font-size: 11px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.contact h3 {
  width: 500px;
  padding: 20px 50px;
}

.form-floating {
  height: 40px;
  width: 300px;
  margin-right: 30px ;
}



.contact button {
  width: auto;
  height: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/*----------------footer--------------------------*/

.footer-container {
  width: 100%;
  background-color: hsl(229, 31%, 21%);
  display: flex;
  flex-direction: row;
  padding: 20px 200px;
  justify-content: space-between;

}

.footer-menu {
  width: 700px;
  display: flex;
  flex-wrap: nowrap;

}

.footer-menu ul {
  color: white;
  width: 500px;
display: flex;
justify-content: space-around;
}



.footer-social img {
  padding: 0 20px;

}